<!DOCTYPE html>
<html lang="en">
    <head>
<meta charset="UTF-8">
<title>To Do List</title>
<meta name="viewport" content="width=device -width,initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
<body>



<div class="container">
   <h1>To-Do</h1>
    <div class="dashboard"> <!--to-do class-->
        <h2>Tasks <img src="{% static 'images/todo transparent.png' %}"></h2>
        <div class="row">
            <input type="text" id="taskInput" name="task" placeholder="Enter task here"><br></br>
            <button id="addButton" class="addButton" onclick="addTask()">Add</button> 
        </div>
        <ul id="list-items"> (BUG TESTING)
       <!--<li>Task 1</li>
       <li>Task 2</li>
       <li>Task 3</li>
        </ul>-->
    </div>
    <div class="how-to">
        <p>Hello! Just add your tasks using the button, and you can delete them as necessary. If you close the tab, your tasks will be there!</p>
    </div>
</div>
<script src="{% static 'addscript.js' %}"></script>
<!--Add script implemented-->
</body>
</html>